{% extends "_base_bigpandamon.html" %}{% load url from future %}
{% block title %}ATLAS PanDA{% endblock %}
{% block page_title %}ATLAS PanDA Monitoring{% endblock %}
{% block bl_page_title %}ATLAS PanDA Monitoring{% endblock %}
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
{% block gacode %}UA-44940804-1{% endblock %}
{% block gaweb %}pandawms.org{% endblock %}
{% block subtitle %}FileBrowser{% endblock %}
{% block header-nav-chain-1 %}<a href="{% url 'index' %}">FileBrowser</a>{% endblock %}{% block header-nav-chain-1-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}
{% block header-nav-chain-2 %}{% endblock %}{% block header-nav-chain-2-separator %}{% endblock %}
{% block header-nav-chain-3 %}{% endblock %}{% block header-nav-chain-3-separator %}{% endblock %}
{% block header-nav-chain-4 %}{% endblock %}{% block header-nav-chain-4-separator %}{% endblock %}
{% block header-nav-chain-5 %}{% endblock %}{% block header-nav-chain-5-separator %}{% endblock %}
{% block header-nav-chain-6 %}{% endblock %}
{% block left_menu %}{% endblock %}
{% block body_mobile %}{% endblock %}
{% block body %}
hi there!

{% endblock %}
